@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;

}
body {
    background: #e8e5da;
}
h1 {
    color: #fff;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background: #304c89;
}
.wrapper {
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input {
    width: 550px;
}
.weather-input input {
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 15px 0;
    font-size: 1.07rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.weather-input .separator {
    width: 100%;
    height: 1px;
    margin: 25px 0;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-input .separator::before {
    content: "or";
    color: #6c757d;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #e8e5da;
}
.weather-input button {
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    background: #5372f0;
    cursor: pointer;
}
.weather-input .location-btn {
    background: #cdc392;
}
.weather-data { 
    width: 100%;
}
.current-weather {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px 70px 20px 20px;
    background: #648de5;
}
.current-weather h2 {
    font-size: 1.7rem;
}
.current-weather h {
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon {
    text-align: center;
}
.current-weather .icon img {
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4 {
    text-transform: capitalize;
}
.days-forecast h2 {
    font-size: 1.5rem;
    margin: 20px 0;
}
.weather-cards {
    display: flex;
    gap: 20px;
}
.weather-cards .card {
    list-style: none;
    color: #fff;
    padding: 18px 16px;
    border-radius: 5px;
    background: #cdc392;
    width: calc(100% / 5);
}
.weather-cards .card img {
    max-width: 70px;
    margin: 5px 0 -12px 0;
}

@media (max-width:1400px) {
    .weather-data .current-weather {
        padding: 20px;
    }
    .weather-cards {
        flex-wrap: wrap;
    }
    .weather-cards .card {
        width: calc(100% / 4 - 15px);
    }
}
@media (max-width: 1200px) {
    .weather-cards .card {
        width: calc(100% / 3 - 15px);
    }
}
@media (max-width: 950px) {
    .weather-input {
        width: 450px;
    }
    .weather-cards .card {
        width: calc(100% / 2 - 15px);
    }
}
@media  (max-width: 750px) {
    .wrapper {
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input {
        width: 100%;
    }
}